# Virtual environments
venv/
api/venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# Large files
*.dll
*.so
*.dylib